{{> head}}
<div class="editmain">
    <h1>Edit Profile</h1>
    <form action="/editprofile" method="POST">
        <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input class="form-control" id="username" type="text" placeholder={{user.username}} disabled>
        <label for="bio" class="form-label">About me</label>
        <textarea class="form-control" id="bio" rows="3" placeholder={{user.bio}}></textarea>
        </div>
        <br> 
        <img class="editimg" src="/images/ProfilePicture/1.png">
        <img class="editimg" src="/images/ProfilePicture/2.png">
        <img class="editimg" src="/images/ProfilePicture/3.png">
        <img class="editimg" src="/images/ProfilePicture/4.png">
        <img class="editimg" src="/images/ProfilePicture/5.png">
        <div class="form-group">
        <select name="profilepicture" id="profilepicture" size="5">
            <option>Picture 1</option>
            <option>Picture 2</option>
            <option>Picture 3</option>
            <option>Picture 4</option>
            <option>Picture 5</option>
        </select>
        </div>
        <br> 
        <button type="submit" class="btn btn-navbar-green">Update</button>
    </form>
</div>