{{> head}} <!--head partial has style and titles-->
<div class="container mt-5"> <!--bootstrap -->
  <header>
    <h1>Login</h1> <!--page header-->
  </header>

  {{#if message}}
    <div class="alert alert-success">
      <p>{{message}}</p>
      <a href="/logout" class="btn btn-navbar-green">Logout</a>
    </div>
  {{/if}}
  
  <!--login form goes to posts data to the login route -->
  {{#if showLoginForm}}
    <form action="/login" method="POST">
      <div class="form-group"> <!--form group for username input -->
        <label for="username" class="form-label">Username:</label> <!--label for username input-->
        <input type="text" name="username" id="username" class="form-control" required> <!--trxt input for username-->
      </div>
      <br> 
      <div class="form-group"> <!--form group for password input -->
        <label for="password" class="form-label">Password:</label> <!--label for password input -->
        <input type="password" name="password" id="password" class="form-control" required> <!-- text input for password -->
      </div>
      <br> 
      <button type="submit" class="btn btn-navbar-green">Login</button> <!--button has bootstrap-->
      <div class="mt-3"> <!--register linkcontainter-->
        <p>Don't have an account? <a href="/register" style="color: #9DC183;">Register</a></p> <!--link to register page-->
      </div>
    </form>
  {{/if}}
</div>

{{> footer}} <!--footer partial-->
