{{> head}}
<div class="container mt-5">
    <h1 class="text-center">Logout Successful</h1>
    <p class="text-center">You have been logged out successfully.</p>
    {{> message}}
    <div class="mt-3">
        <p>Want to login? <a href="/login">Login</a></p>
    </div>
</div>
{{> footer}}