{{> head}} <!--head partial-->
<div class="container mt-5"> <!--bootstrap-->
    <h1 class="text-center">Logout</h1><!--centered logout confirmation-->
    <p class="text-center">{{> message}}</p> <!--message partial has success or errors-->
    <div class="mt-3"> <!--option to login again-->
        <p>Want to login? <a href="/login">Login</a></p> <!--link to login page-->
    </div>
</div>
{{> footer}} <!--footer partial-->