<header>
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #9DC183; border-bottom: 2px solid #388E3C;">
    <div class="container">
      <!-- Discover and Profile links on the left -->
       <ul class="navbar-nav ms-auto">
        <li class="nav-item me-4">
          <a class="btn btn-outline-light" href="/discover">Discover</a>
        </li>
        <li class="nav-item me-5">
          <a class="btn btn-outline-light" href="/profile">Profile</a>
        </li>
      </ul>

      <!-- EDEN in the center -->
<div class="d-flex justify-content-center flex-grow-1">
  <span class="fs-1" style="color: #09570d; font-weight: bold; letter-spacing: 4px; font-size: 3rem;">EDEN</span>
</div>


      <!-- Login and Logout links on the right -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-2">
          <a class="btn btn-outline-light" href="/login">Login</a>
        </li>
        <li class="nav-item me-3">
          <a class="btn btn-outline-light" href="/logout">Logout</a>
        </li>
      </ul>

      <!-- Toggler button for smaller screens -->
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    
  </nav>
</header>