{{!-- <div class="col-md-4">
    <a href="/post/{{post.postid}}" class="card-link" style="text-decoration: none; color: inherit;">
        <div class="card mb-4">
            <img src= post.titleimagepath class="card-img-top" alt="Plant Image" onerror="this.src='/images/default-plant.jpg'">
            <div class="card-body">
                <h5 class="card-title">post.title</h5>
                <p class="card-text">post.descriptions</p>
            </div>
        </div>
    </a>
</div> --}}


{{!-- TODO: Testing --}}
<div class="col-md-4">
    <a href="/post/1" class="card-link" style="text-decoration: none; color: inherit;">
        <div class="card mb-4">
            <img src= "images/Post/1/titleimg.jpg" class="card-img-top" alt="Plant Image" onerror="this.src='/images/default-plant.jpg'">
            <div class="card-body">
                <h5 class="card-title">Fern</h5>
                <p class="card-text">This is a post about fern.</p>
            </div>
        </div>
    </a>
</div>
